<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nikeru8.a012">

    <application
        android:name=".Question.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/word1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Camera" />
        <activity android:name=".order" />
        <activity android:name=".Question.Activity1" />
        <activity android:name=".Question.Activity2" />
        <activity android:name=".Question.Activity3" />
        <activity android:name=".map"></activity>
    </application>

</manifest>